<!doctype html>
<html>
  <head>
    <meta charset = "utf-8" />  <!--한글 포함-->
    <title>자유게시판</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.3/jquery.timeago.js"></script>
  </head>
  <body>
    <!-- <button class = "btn btn-dark">button</button> -->
    <div class = "container" style = "margin-top: 50px;">
      <% if(user === undefined){ %>
        <h3>비로그인 상태입니다.</h3>
      <% }else{ %>
        <h3><%= user.name%>님 환영합니다.</h3>
        <a href = '/logout'>로그아웃</a>
      <% } %>
          <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">글쓴이</th>
            <th scope="col">작성시간</th>
            <th scope="col">조회수</th>
          </tr>
        </thead>
        <tbody>
          <% if(results !== undefined ){ %>
          <% for(var i = results.length - 1; i >= 0; i--){ %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><a href = "/show/<%= results[i]._id %>"><%= results[i].title %></a></td>
            <td><%= results[i].author %></td>
            <td><time class="timeago" datetime="<%= results[i].create_at %>"></time></td>
            <td><%= results[i].viewnumber %></td>
          </tr>
          <% }} %>
        </tbody>
      </table>
    <div style = " text-align: right;">
      <a href = "/write"><button type="button" class="btn btn-light">글쓰러 가기</button></a>
    </div>
  </div>
    <script type="text/javascript">
    jQuery(document).ready(function() {
     $("time.timeago").timeago();
    });
    </script>
  </body>
</html>
